[submodule "lib/tpl/arctic"]
	path = lib/tpl/arctic
	url = git://github.com/vvasabi/dokuwiki-template-arctic.git
[submodule "lib/plugins/discussion"]
	path = lib/plugins/discussion
	url = git://github.com/dokufreaks/plugin-discussion.git
[submodule "lib/plugins/pagemove"]
	path = lib/plugins/pagemove
	url = git://github.com/desolat/DokuWiki-Pagemove-Plugin.git
[submodule "lib/plugins/googleanalytics"]
	path = lib/plugins/googleanalytics
	url = git://github.com/tatewake/dokuwiki-plugin-googleanalytics.git
